<h1>About Stitch</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/d67Xd0Ied-k" frameborder="0" allowfullscreen></iframe>

    <div>
     <img src="assets/stitchbanner.png" alt="banner" image_direction: right />
    </div>

<p>Hi! I'm Stitch.</p>
