<h1>About Stitch</h1>

    <div>
     <img src="assets/profile.jpg" alt="profilepic" image_direction: right />
    </div>

<div class="block"> 
    <p>This is Stitch in a nutshell =D</p>
    <p>I have been in a lab rat for 8 years during my university days. After a quarter-life crisis moment, I took a breather and entered the startup scene helping my seniors in their startup venture, Tware.</p>
    <p>We have a core technology that is in-built into wearables to enable health and social impact. Our pet project, Tjacket, or the hugging jacket has been developed to provide automated calm and comfort for individuals with autism, ADHD, and anxiety.</p>
    <p>Currently, I am responsible for the finance, business operations, and research aspects in the business. It has since been a very rewarding experience being exposed to a variety of brilliant individuals (designers, engineers, entrepreneurs, etc.) and our special needs clients.</p>
    <p>I love to learn new things and challenge myself. There is nothing better than being able to learn on different matters and from different people.</p>
    <p>When I am not working, I am will be outdoors volunteering on special needs activities or mentoring projects. I am also very much a kid at heart, love to play computer games and musical instruments.</p>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/yufTkjIHiCI" frameborder="0" allowfullscreen></iframe>