<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Stitch World</title>
    <link rel="stylesheet" href="css/static.scss" type="text/css" media="screen">
  </head>
  <body>
   <main>
     <h1>Welcome to Stitch World</h1>
     

     <div class="block"> 
       <p>Aloha!</p>
       <p>Great to e-meet you!</p>
     </div>
   </main>
  </body>
</html>



